@charset "utf-8";
/* 해더 */
#header {position:relative; padding:0 20px; height:50px; text-align:center; background:#0f4a8c}
#header h1 a {display:block; line-height:50px; font-size:18px; font-weight:700; color:#fff}
#header > a {display:block; position:absolute; top:0; height:50px; text-indent:-9999px}
a.btnLogout {left:0; width:54px; background:url("../images/common/btn-logout.png") no-repeat center; background-size:15px auto !important}
a.btnNotice {right:43px; width:25px; text-indent:0px !important; background:url("../images/common/btn-notice.png") no-repeat center; background-size:15px auto !important}
a.btnNotice span {display:block; text-indent:-9999px}
a.btnNotice strong {display:block; position:absolute; top:11px; right:0; border-radius:50%; width:14px; height:14px; text-align:center; line-height:14px; font-size:10px; color:#fff; background:#ff3333; text-indent:0px}
a.btnMenu {right:0; width:43px; background:url("../images/common/btn-menu.png") no-repeat center; background-size:15px auto !important}
.utilPop {display:none; position:absolute; top:45px; right:20px; z-index:100; padding:0 22px 0 11px; border:1px solid #0f4a8c; width:120px; text-align:left; background:#fff}
.utilPop:before {display:block; content:""; position:absolute; top:-9px; right:-1px; width:8px; height:9px; background:url("../images/bg-arrow.png") no-repeat center; background-size:100%}
.utilPop ul li a {display:block; line-height:30px; font-size:12px}
.utilPop ul li + li {border-top:1px solid #b5b8c7}
.utilPop .btnClose {display:block; position:absolute; top:3px; right:0; width:23px; height:23px; text-indent:-9999px; background:url("../images/btn-del02.png") no-repeat center; background-size:11px}

/* 서브 해더 */
#subHeader {position:relative; text-align:center; height:50px}
#subHeader h2 {text-align:center; line-height:50px; font-size:18px; font-weight:500}
#subHeader > a {display:block; position:absolute; top:0; height:50px; text-indent:-9999px}
#subHeader > a.btnBack {left:0; width:52px; background:url("../images/common/btn-back.png") no-repeat center; background-size:12px auto}
#subHeader a.btnLogout {background:url("../images/common/btn-logout-b.png") no-repeat center}
#subHeader a.btnNotice {background:url("../images/common/btn-notice-b.png") no-repeat center}
#subHeader a.btnNotice strong {text-indent:0px}
#subHeader a.btnMenu {background:url("../images/common/btn-menu-b.png") no-repeat center}
#subHeader a.btnInfo {right:10px; margin:0; width:40px; background:url("../images/common/btn-info.png") no-repeat center; background-size:19px}
#subHeader a.btnSearch {right:40px; width:40px; background:url("../images/common/btn-search.png") no-repeat center; background-size:19px auto}
#wrap.v2 {background:#e3e8f7}
#wrap.v2 #subHeader {background:#0f4a8c}
#wrap.v2 #subHeader h2 {color:#fff}
#wrap.v2 #subHeader a.btnLogout {background:url("../images/common/btn-logout.png") no-repeat center}
#wrap.v2 #subHeader a.btnNotice {background:url("../images/common/btn-notice.png") no-repeat center}
#wrap.v2 #subHeader a.btnMenu {background:url("../images/common/btn-menu.png") no-repeat center}

/* 컨테이너 */
#container.fixed {padding-bottom:100px}
#container .content {padding:15px 20px 50px}
#container .content .fullWidth {margin-left:-20px; margin-right:-20px}
#container .content .fullWidth:first-child {margin-top:-15px}
#container .content h3 {margin-bottom:20px; line-height:30px; font-size:20px; font-weight:700; border-bottom: 1px solid #b5b8c7; padding-bottom: 17px;}

/* 하단 퀵버튼 */
#FixedBtn {position:fixed; bottom:0; left:0; z-index:100; border-top:2px solid #0f4a8c; width:100%; background:#fff}
#FixedBtn ul {overflow:hidden; text-align:center} 
#FixedBtn ul li {float:left; width:20%}
#FixedBtn ul li a {display:block; padding-top:41px; height:68px; line-height:15px; font-size:12px; font-weight:500; color:#666; background-size:22px !important}
#FixedBtn ul li:nth-child(1) a {background:url("../images/common/ico01.png") no-repeat center 15px}
#FixedBtn ul li:nth-child(2) a {background:url("../images/common/ico02.png") no-repeat center 15px}
#FixedBtn ul li:nth-child(3) a {background:url("../images/common/ico03.png") no-repeat center 15px}
#FixedBtn ul li:nth-child(4) a {background:url("../images/common/ico04.png") no-repeat center 15px}
#FixedBtn ul li:nth-child(5) a {background:url("../images/common/ico05.png") no-repeat center 15px}
#FixedBtn ul li:active a,
#FixedBtn ul li.curr a {color:#0f4a8c}
#FixedBtn ul li:nth-child(1):active a,
#FixedBtn ul li:nth-child(1).curr a {background:url("../images/common/ico01-on.png") no-repeat center 15px}
#FixedBtn ul li:nth-child(2):active a,
#FixedBtn ul li:nth-child(2).curr a {background:url("../images/common/ico02-on.png") no-repeat center 15px}
#FixedBtn ul li:nth-child(3):active a,
#FixedBtn ul li:nth-child(3).curr a {background:url("../images/common/ico03-on.png") no-repeat center 15px}
#FixedBtn ul li:nth-child(4):active a,
#FixedBtn ul li:nth-child(4).curr a {background:url("../images/common/ico04-on.png") no-repeat center 15px}
#FixedBtn ul li:nth-child(5):active a,
#FixedBtn ul li:nth-child(5).curr a {background:url("../images/common/ico05-on.png") no-repeat center 15px}
